/*Project fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* Variables */

:root {
    --clr-gray-1: #e6e6e6;
    --clr-gray-2: #d9d9d9;
    --clr-gray-3: #ccc;
    --clr-gray-4: #333;
    --myGreen: #93cb52;
    --myGrey: #333;
}


/* My reset */

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #555;
    /* width: 100vw; */
}


a {
    color: black;
}


/*Utility Classes*/

.text-primary {
    color: var(--myGreen);
}

.active {
    background: var(--myGreen)
}

#apk a {
    display: block;
    padding: 1rem 1rem;
    margin: 4rem auto 4rem;
    background: var(--myGrey);
    width: 11rem;
    border-radius: 5px;
    color: white;
    text-align: center;
    transition: 0.2s all ease;
}

#apk a:hover {
    background: var(--myGreen);
}

img {
    display: block;
    width: 100%;
}


/*Paddings*/


/*==================================================
wspólne style przycisków, 
wspólne padingi - mobile, tablet i desktop,

======================================================
*/


/* y - axis */

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}


/* x - axix */

.px-1 {
    padding: 0 1.5rem;
}

.px-2 {
    padding: 0 2rem;
}

.px-3 {
    padding: 0 3rem;
}


/* x+y - axix*/

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}