.container {
  max-width: 1440px;
  /* display: grid; */
  background: var(--clr-gray-1);
}

/* Table of contents

1. global styles

2. typography

3. conponents
   3.1 buttons
   3.2 tabels

*/


/* 
===============
header: mobile
=============== 
*/

.main-header {
  display: flex;
  flex-direction: column;
  /* border: 3px solid orange; */
  /* background: var(--clr-gray-4); */
  border-bottom: 3px solid var(--myGreen);
  position: sticky;
  top: -7rem;

}

/* 
===============
header - logo
=============== 
*/

.main-logo {
  height: 7rem;
}

.logo-container {
  background: url('img/logo.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.logo-container .logo {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 800;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
===============
header - nav
=============== 
*/

.container-toggle-button {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}

.home-button a {
  color: white;
}

.toggle-button {
  /* position: absolute;
    top: 0.8rem;
    left: 5rem; */
  display: flex;
  /*Aby span ułożyły się pod spodem po dodaniu display: flex*/
  flex-direction: column;
  /*Aby spany były jak najdalej od siebie*/
  justify-content: space-between;
  /*Wielkość przycisku / spanów*/
  width: 35px;
  height: 29px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.toggle-button .bar {
  /*Nadanie wielkości spanom*/
  height: 3px;
  /*100% szerokości kontenera*/
  width: 100%;
  background: white;
  border-radius: 10px;
}


.navbar {
  /* border: 4px solid red; */
  background: var(--myGrey);
  opacity: .98;
}

.navbar-links {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: inherit;
  width: 100%;
}

.on-off {
  display: block;
}



.navbar-links ul {
  text-align: center;
}

.navbar-links ul li {
  border-top: 1px dotted #555;
}


.navbar-links ul li a {
  display: block;
  padding: 1rem 0;
  color: white;
  font-size: 0.8rem;

}

.navbar-links ul li a:hover {
  background: var(--myGreen);
}

/* 
====================
header - nav - drop
====================
*/

.drop {
  display: none;
  background: #555;
}

.drop-container:hover .drop {
  display: block;

}

/* 
====================
section - foto main
====================
*/

.foto-main {
  background: url('img/foto-main.jpg') no-repeat center center/cover;
  /*    background: black;*/
  height: 20rem;

}

/* 
====================
section - content
====================
*/

.content {
  padding: 2rem 1.5rem;
  text-align: justify;
  line-height: 1.7;
  text-align: center;
  /* padding: 1rem; */
}

.content-1 {
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px dotted var(--clr-gray-4);

}

.content-1 h2,
.content-2 h2 {
  margin-bottom: 1rem;
}

.content-1 p,
.content-2 p {
  text-align: justify;
}

.content-1 p::first-letter,
.content-2 p::first-letter {
  font-size: 1.5rem;

}

/* 
====================
section - media
====================
*/

.media {
  display: grid;
  grid-gap: .5rem;
  margin-bottom: .5rem;

}

.media-1 {
  /*  background: gray;*/
  height: 20rem;
  background: url('img/media-foto-1.jpg') no-repeat center center/cover;
  /* margin-bottom: 5px; */
  /* object-fit: cover; */
}

.media-2 {
  /*  background: #2121c6;*/
  background: url('img/media-foto-2.jpg') no-repeat center center/cover;
  height: 20rem;
  display: block;
  /* margin-bottom: 5px; */
}

.media-3 {
  /*  background: orange;*/
  background: url('img/media-foto-3.jpg') no-repeat center center/cover;
  height: 20rem;
  /* margin-bottom: 5px; */
}

.media-4 {
  height: 20rem;
  max-width: 100%;
}

.media-4 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-5 {
  height: 20rem;
  max-width: 100%;

}

.media-5 iframe {
  width: 100%;
  height: 100%;
}



/* 
====================
section - images
====================
*/

.img-1,
.img-2,
.img-3 {
  padding: 3rem 1rem;
}

.img-1 {
  /*  background: #71f471;*/
  /*  height: 10rem;*/
  text-align: center;
  background: #d9d9d9;
  /* padding: 10px 7px; */
  /*  height: 15rem;*/
}




.img-1 figcaption h4,
.img-2 figcaption h4,
.img-3 figcaption h4 {
  font-size: 1.2rem;
  margin: 1.7rem 0 .5rem;
}

.img-1 img {
  display: block;
  width: 50%;
  height: 100%;
  margin: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

.img-2 {
  background: #cccccc;
  text-align: center;
  /* padding: 10px 7px; */
}

/* .img-2 figcaption h4 {
  font-size: 1.2rem;
  margin: 1.7rem 0 .5rem;
} */

.img-2 img {
  display: block;
  width: 50%;
  margin: 0 auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .5)
}


.img-3 {
  /*  background: #71f471;*/
  /*  height: 10rem;*/
  text-align: center;
  background: #d9d9d9;
  /* padding: 10px 7px; */
}


/* .img-3 figcaption h4 {
  font-size: 1.2rem;
  margin: 1.7rem 0 .5rem;
} */

.img-3 img {
  display: block;
  width: 50%;
  margin: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

figcaption {
  padding: 0 1rem 0 2rem;
}

figcaption.left {
  padding: 0 2rem 0 1rem;
}



footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  /*  height: 5rem;*/
}

#footer-main-1,
#footer-main-2 {
  padding: 1rem 0;
  border-bottom: #fff dotted 1px;
}

#footer-main-2 a {
  padding: 0 .5rem;
  color: #fff;
  transition: .3s all linear;
}

#footer-main-2 a:hover {
  color: var(--myGreen);
}

#footer-main-4 {
  padding-top: 1rem;
}




















/*Tablet View*/

@media screen and (min-width: 768px) {
  /* .container {
  

  } */

  /* Hamburger */


  .main-header {
    /* border: 2px dashed red; */
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    grid-column: 1 / -1;
    /*     padding: .5rem 0;*/
    height: 4rem;
    position: sticky;
    top: 0;
  }

  .logo-container .logo {
    font-size: 1rem;
  }

  .main-logo {
    /* border: 3px dotted green; */
    width: 25vw;
    height: 100%;
    /*      position: static;*/

  }


  .container-toggle-button,
  .home-button {
    display: none;
  }

  .navbar {
    width: 75%;
  }

  .navbar-links {
    position: relative;
    /*      position: static;*/
    display: flex;
    /* border: 3px solid yellow; */
    height: 100%;
    padding: 0 5px;
    /* justify-content: center; */
  }

  .navbar-links>ul {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*        height: 100%;*/
    width: 100%;
  }

  .navbar-links ul li {
    border-top: none;
    width: 19%;

    /*        flex-grow: 1;*/
    /*        flex-grow: 0;*/
    /*   flex-shrink: 0;*/
    /* flex-basis: 18%; */
  }

  .navbar-links ul li:first-child {
    border: none;
  }

  /* Bawiłem się tutaj wartościami */
  .navbar-links ul li a {
    display: block;
    /* width: 5rem; */
    padding: 14px 20px;
    border-radius: 5px;
    transition: all 0.2s ease;
    /* z-index: 100; */
  }

  /*    Navbar - drop*/

  .drop-container {
    position: relative;
  }

  .drop {
    display: none;
    position: absolute;
    background: #333;
    left: 1rem;
    width: 7rem;
    height: 8.5rem;
    padding-top: 5px;
    border-radius: 5px;
    z-index: 100;

  }

  .drop li {
    text-align: left;
  }

  /* body>div>header>nav>div.navbar-links>ul>li.drop-container>ul>li:nth-child(1)>a {
    display: block;
    width: 100%;
  } */

  #drop-link {
    display: block;
    width: 100%;
    padding-left: 1rem;
  }



  .drop-container:hover .drop {
    display: block;
  }

  .foto-main {
    height: 20rem;
    background: url('img/foto-main-2.jpg') no-repeat center center/cover;
    grid-column: 1 / -1
  }


  .content {
    /* grid-column: 1 / -1; */
    /*    height: 15rem;*/
    display: flex;
  }

  .content-1,
  .content-2 {
    flex: 1 1 0px;
    border-bottom: none;
    margin-bottom: 0;
    /*    width: 50%;*/
    padding: 1rem;
    border: 1px solid var(--clr-gray-3);
    border-radius: .3rem;
    margin: 0 1rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  }



  .media {
    /* width: 100vw; */
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-areas:
      'A A B B C C'
      'D D D E E E';
  }

  .media-1 {
    /*    background: gray;*/
    grid-area: A;
    height: 14rem;
    width: 100%;
  }

  .media-2 {
    /*    background: #2121c6;*/
    height: 14rem;
    grid-area: B;
    width: 100%;
  }

  .media-3 {
    /*    background: orange;*/
    height: 14rem;
    grid-area: C;
    width: 100%;
  }

  .media-4 {
    /*    background: #fa9e9e;*/
    height: 20rem;
    grid-area: D;
    /* max-width: 48%; */
  }



  .media-5 {
    /*    background: #8f8faf;*/
    height: 20rem;
    margin: 0;
    grid-area: E;
    /* max-width: 48%; */
  }



  .images {
    grid-column: 1 / -1;

  }

  .img-1 img {
    margin-right: 7px;
  }

  .img-1 figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .img-2 img {
    margin-right: 7px;
  }

  .img-2 figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .img-2 figcaption {}





  .img-3 img {
    margin-right: 7px;
  }

  .img-3 figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .img-3 {
    /*        grid-area: 5 / 21 / 6 / 31;*/

    /*    background-color: #e34460;*/
    /*        height: 100%;*/
  }

  footer {
    /*    background-color: gold;*/
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  #footer-main-1,
  #footer-main-2 {
    border: none;
    background: #333;
    padding: 1rem;
  }

  #footer-main-1 {
    text-align: center;
    margin-top: 1rem;
    background: url('img/map.png') center center/cover;
  }

  #footer-main-1 h2 {
    margin-bottom: 0.7rem;
  }

  #footer-main-2 {
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
  }

  #footer-main-2 a {
    padding: 0 .5rem;
    color: #fff;
  }


  #footer-main-4 {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    border-top: 3px solid var(--myGreen);
  }

}






/*Desktop View*/

@media(min-width: 1024px) {
  /* * {
    margin: 0;
    padding: 0;
  } */

  .container {
    margin: auto;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    /*        width: 100vw;*/
    /*        height: 100vh;*/
  }

  .main-header {
    /*    flex-direction: row;
        justify-content: space-between;
        /* width: 100%; */
    grid-column: 1 / -1;
    /*     padding: .5rem 0;*/
    height: 73px;
    position: sticky;
    top: 0;
  }

  .main-logo {
    width: 25%;
  }

  /*Dopasować height do wielkości przyszłych element*/
  .navbar {

    /* width: 75%; */

  }

  .navbar-links {
    width: 100%;
  }

  .navbar-links ul li a {
    /* padding: 14px 50px; */
    width: 10rem;
    font-size: 1rem;
  }

  .drop {
    height: 162px;
  }




  .foto-main {
    /*        grid-area: 2 / 1 / 3 / 31;*/
    /*    background: #a5a531;*/
    /*        height: 100%;*/
    /* padding-top: 5rem; */
    /* margin-bottom: 2rem; */
  }

  .content {
    /* background: lightyellow; */
    grid-column: 1 / -1;
    display: flex;
    min-height: 17rem;
    align-items: center;
  }

  .content-1 {
    padding: 1rem 1rem;
    margin: 0 .8rem;
    /* border: 1px solid var(--clr-gray-3);
    border-radius: .3rem; */
    /* align-self: center; */



  }

  /* .content-1 p {
    max-height: 15rem;
    overflow: hidden;
  } */

  .content-2 {
    padding: 1rem 1rem;
    /* align-self: center; */
    /* border: 1px solid var(--clr-gray-3);
    border-radius: .3rem; */
    margin: 0 .8rem;
  }


  /*
  .content-1 {
    flex-grow: 1;
  }

  .content-2 {
    flex-grow: 1;
  }
*/

  /* .media {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0 5px;
  } */

  .media {
    padding: 0 .5rem;
    min-height: 20rem;
    /* width: 100vw; */
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-areas:
      'A B C D E';
  }

  .media-section-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
    grid-gap: 5px;
    margin-right: 5px;
  }

  .media-section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: right;
    grid-gap: 5px;
  }


  .media-1,
  .media-2,
  .media-3,
  .media-4,
  .media-5 {
    margin: 0;
    /* margin-left: 5px; */
    /* width: 20rem;
    max-height: 20rem; */
    width: 100%;
    height: 100%;
  }

  .media-1 {
    grid-area: A;
    object-fit: cover;
  }

  .media-2 {
    grid-area: B;
    object-fit: cover;
  }

  .media-3 {
    grid-area: C;
    object-fit: cover;
  }

  .media-4 {
    grid-area: D;
  }

  .media-5 {
    grid-area: E;
  }



  .media-section-2:last-child {
    /* margin-right: 0; */
  }

  /* .media-4 {
    height: 14rem;
  }

  .media-5 {
    height: 14rem;
  } */

  .images {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;

    /*    height: 19rem;*/
  }


  .img-1 figure,
  .img-2 figure,
  .img-3 figure {
    display: block;
    display: flex;
    /*    justify-content: center;*/
    /*    align-items: center;*/
    flex-direction: column;
    /*         justify-content: center;*/


  }

  .img-1 img {
    margin: 0 0 1rem 0;

  }

  .img-2 img {
    margin: 0 0 1rem 0;
  }

  .img-3 img {
    margin: 0 0 1rem 0;
  }

  .img-1,
  .img-2,
  .img-3 {
    flex: 0 0 calc(33.333% - 2rem);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
    transition: .3s all linear;
  }

  .img-1:hover,
  .img-2:hover,
  .img-3:hover {
    transform: scale(1.02);
  }




  .img-1 {
    /*    flex-grow: 1;*/
    /*    background-color: #71f471;*/
    /*        height: 100%;*/
    flex: 0 0 calc(33.333% - 2rem);

  }

  .img-2 {
    /*        grid-area: 5 / 11 / 6 / 21;*/
    /*    flex-grow: 1;*/
    /*    background-color: #008076;*/
    /*        height: 100%;*/
    flex: 0 0 calc(33.333% - 2rem);
  }

  .img-3 {
    /*        grid-area: 5 / 21 / 6 / 31;*/
    /*    flex-grow: 1;*/
    /*    background-color: #e34460;*/
    /*        height: 100%;*/
    flex: 0 0 calc(33.333% - 2rem);
  }

  .footer {
    /*        grid-area: 6 / 1 / 7 / 31;*/
    /*    background-color: gold;*/
    /*        height: 100%;*/
  }
}

@media(min-width: 1440px) {
  /* .container {
    max-width: 1024px;
  } */
}