.container {
  max-width: 1140px;
  display: grid;
  background: #e6e6e6;
}

/* Table of contents

1. global styles

2. typography

3. conponents
   3.1 buttons
   3.2 tabels

*/


/* ===============
   Header: Logo
   =============== */

/* subcategories */


#main-header {
  display: flex;
  flex-direction: column;
  /* border: 3px solid orange; */
  background: #333;
  border-bottom: 3px solid var(--myGreen);
  position: sticky;
  top: -7rem;

}

.main-logo {
  /* border: 3px dotted green; */
  height: 7rem;
}

#logo-container {
  background: url('../img/logo.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  /*
    border-radius: 5px;
    margin: 5px;
    position: relative;
    top: 0.6rem
*/
}

#logo-container .logo {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 800;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* Header: Navbar - mobile */

.container-toggle-button {
  height: 3.5rem;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}

.home-button a {
  color: white;
}

.toggle-button {
  /* position: absolute;
    top: 0.8rem;
    left: 5rem; */
  display: flex;
  /*Aby span ułożyły się pod spodem po dodaniu display: flex*/
  flex-direction: column;
  /*Aby spany były jak najdalej od siebie*/
  justify-content: space-between;
  /*Wielkość przycisku / spanów*/
  width: 35px;
  height: 29px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.toggle-button .bar {
  /*Nadanie wielkości spanom*/
  height: 3px;
  /*100% szerokości kontenera*/
  width: 100%;
  background: white;
  border-radius: 10px;
}


/* Header: Navbar */

.navbar {
  /* border: 4px solid red; */
  background: var(--myGrey);
}

.navbar-links {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: inherit;
  width: 100%;
}

.on-off {
  display: block;
}



.navbar-links ul {
  text-align: center;
}

.navbar-links ul li {
  border-top: 1px dotted #555;
}


.navbar-links ul li a,
.drop-container p {
  display: block;
  padding: 1rem 0;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}


/*
.navbar-links ul li:first-child {
    border-top: 2px solid white;
}
*/

.navbar-links ul li a:hover,
.drop-container p:hover {
  background: var(--myGreen);
}

/*Navbar drop*/
.drop {
  display: none;
  background: #555;
}

.drop-container:hover .drop {
  display: block;

}

main {
  background: #A9A9A9;
}

#onderhoud-benzine {
  background: blanchedalmond;
}

#onderhoud-diesel {
  background: cadetblue;
}

#apk {
  background: darkgray;
}

.container-content1,
.container-content2,
.container-content3 {
  padding: 10px 7px;
}

h2 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  /* border-bottom: none; */
}

h2::before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none;
}

/* #goto-benzine {
  margin-top: -50px;
  padding-bottom: 50px;
  display: block;
} */

/* #goto-diesel {
  margin-top: -20px;
  padding-bottom: 20px;
  display: block;
} */
/* 
#goto-apk {
  margin-top: -50px;
  padding-bottom: 50px;
  display: block;
} */



.text-content1 p {
  text-align: justify;
  margin-bottom: 1rem;
}

.text-content1 h3 {
  padding-bottom: 0.3rem;
}

.foto-content1-container img,
.foto-content2-container img {
  display: block;
  max-width: 80vw;
  margin: 3rem auto 6rem;

}

.foto-content3-container img {
  margin-bottom: 1rem;
  display: block;
  max-width: 80vw;
  margin: 3rem auto 0;
}


#apk a {
  display: block;
  padding: 1rem 1rem;
  margin: 4rem auto 4rem;
  background: var(--myGrey);
  width: 11rem;
  border-radius: 5px;
  color: white;
  text-align: center;
  transition: 0.2s all ease;
}

#apk a:hover {
  background: var(--myGreen);
}




.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: .9rem;
  /*  height: 5rem;*/
}


/*Tablet View*/

@media(min-width: 768px) {
  .container {
    margin: auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);

    /*        grid-template-rows: 0.5fr 1.2fr 1fr 1.2fr 3fr 3fr 0.5fr 0.5fr 1fr;*/
    /*                height: 100vh;*/
  }

  /* Hamburger */


  #main-header {
    /* border: 2px dashed red; */
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    grid-column: 1 / -1;
    /*     padding: .5rem 0;*/
    height: 4rem;
    position: fixed;
    top: 0;
  }

  #logo-container .logo {
    font-size: 1rem;
  }

  .main-logo {
    /* border: 3px dotted green; */
    width: 25vw;
    height: 100%;
    /*      position: static;*/

  }


  .container-toggle-button,
  .home-button {
    display: none;
  }

  .navbar {
    width: 75vw;
  }

  .navbar-links {
    position: relative;
    /*      position: static;*/
    display: flex;
    /* border: 3px solid yellow; */
    height: 100%;
    padding: 0 5px;
    justify-content: center;
  }

  .navbar-links>ul {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*        height: 100%;*/
    width: 100%;
  }

  .navbar-links ul li {
    border-top: none;
    /*        flex-grow: 1;*/
    /*        flex-grow: 0;*/
    /*   flex-shrink: 0;*/
    flex-basis: 18%;
  }

  .navbar-links ul li:first-child {
    border: none;
  }



  .navbar-links ul li a,
  .drop-container p {
    display: block;
    /*        width: 5rem;*/
    padding: 17px 16px;
    border-radius: 5px;
    transition: all 0.2s ease;
    z-index: 100;
  }

  /*    Navbar - drop*/

  .drop-container {
    position: relative;
  }

  .drop {
    display: none;
    position: absolute;
    background: #333;
    left: 1rem;
    width: 8rem;
    height: 9.5rem;
    padding-top: 5px;
    border-radius: 5px;
    z-index: 100;

  }

  .drop li {
    text-align: left;
  }

  /*
    .drop li a {
        height: 33.33%;
        padding: 20px 0;
    }*/



  .drop-container:hover .drop {
    display: block;
  }

  main {
    grid-column: 1 / -1;
    display: grid;


  }

  /* #onderhoud-benzine {

    border: 4px solid #333;
    width: 85%;
    margin: 8rem auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
  } */


  /*Fix position fixed, link to header*/



  h2 {
    text-align: left;
    margin: 2rem 7px 0rem 7px;
    border-bottom: 1px solid black;
  }

  #onderhoud-benzine {
    margin-top: 3.5rem;
    padding-bottom: 4rem;
  }

  h2::before {
    display: block;
    content: " ";
    margin-top: -25px;
    /* height: 80px; */
    visibility: hidden;
    pointer-events: none;
  }

  .container-content1 {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    margin-top: 1rem;
  }



  .text-content1 {
    /* width: 70%; */
    flex: 2 1 0;
  }

  .text-content1 h3 {
    padding-bottom: 0.3rem;
  }

  .text-content1 p {
    margin-bottom: 1rem;
  }

  .foto-content1 {
    /* width: 30%; */
    flex: 1 1 0;
  }


  .foto-content1-container {
    text-align: right;
  }

  .foto-content1-container img {
    display: inline;
    width: 95%;
    margin: 0 auto 1rem;
    /* text-align: right; */
  }



  .footer {
    /*    background-color: gold;*/
    grid-column: 1 / -1;
  }
}


/*Desktop View*/

@media(min-width: 1024px) {
  /* * {
    margin: 0;
    padding: 0;
  } */

  .container {

    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*        width: 100vw;*/
    /*        height: 100vh;*/
  }

  #main-header {
    /*    flex-direction: row;
        justify-content: space-between;
        /* width: 100%; */
    grid-column: 1 / -1;
    /*     padding: .5rem 0;*/
    height: 73px;
    position: sticky;
    top: 0;
  }

  .main-logo {
    width: 25%;
  }

  /*Dopasować height do wielkości przyszłych element*/
  .navbar {

    width: 75%;

  }

  .navbar-links {
    width: 100%;
  }

  .navbar-links ul li a,
  .drop-container p {
    padding: 19px 16px;
  }

  .drop {
    height: 162px;
  }

  h2 {
    text-align: left;
    margin: 0rem 7px 0rem 7px;
    border-bottom: 1px solid black;
  }

  /* #goto-benzine {
    margin-top: -1.5rem;
    padding-bottom: 1.5rem;
    display: block;
  } */

  .foto-main {
    /*        grid-area: 2 / 1 / 3 / 31;*/
    /*    background: #a5a531;*/
    /*        height: 100%;*/
  }

  .content {
    grid-column: 1 / -1;
    display: flex;
    height: 14rem;
  }

  .content-1 {
    padding: 1rem 1rem;
  }

  .content-2 {
    padding: 1rem 1rem;
  }

  /*
  .content-1 {
    flex-grow: 1;
  }

  .content-2 {
    flex-grow: 1;
  }
*/

  .media {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0 5px;
  }

  .media-section-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
    grid-gap: 5px;
    margin-right: 5px;
  }

  .media-section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: right;
    grid-gap: 5px;
  }


  .media-1,
  .media-2,
  .media-3,
  .media-4,
  .media-5 {
    margin: 0;
    /* margin-left: 5px; */
    /* width: 12.2rem;
    max-height: 12.2rem; */
    width: 100%;
    height: 100%;
  }



  .media-section-2:last-child {
    /* margin-right: 0; */
  }

  /* .media-4 {
    height: 14rem;
  }

  .media-5 {
    height: 14rem;
  } */

  .images {
    grid-column: 1 / -1;
    display: flex;
    /*    height: 19rem;*/
  }


  .img-1 figure,
  .img-2 figure,
  .img-3 figure {
    display: block;
    display: flex;
    /*    justify-content: center;*/
    /*    align-items: center;*/
    flex-direction: column;
    /*         justify-content: center;*/


  }

  .img-1 img {
    margin: 0 0 1rem 0;
  }

  .img-2 img {
    margin: 0 0 1rem 0;
  }

  .img-3 img {
    margin: 0 0 1rem 0;
  }




  .img-1 {
    /*    flex-grow: 1;*/
    /*    background-color: #71f471;*/
    /*        height: 100%;*/
  }

  .img-2 {
    /*        grid-area: 5 / 11 / 6 / 21;*/
    /*    flex-grow: 1;*/
    /*    background-color: #008076;*/
    /*        height: 100%;*/
  }

  .img-3 {
    /*        grid-area: 5 / 21 / 6 / 31;*/
    /*    flex-grow: 1;*/
    /*    background-color: #e34460;*/
    /*        height: 100%;*/
  }

  .footer {
    /*        grid-area: 6 / 1 / 7 / 31;*/
    /*    background-color: gold;*/
    /*        height: 100%;*/
  }
}